<div class="container">
  <div class="movies col-sm-4">
    <div class="icon glyphicon glyphicon-film"></div>
    <h1>Top Movies</h1>
    <%@movies.each do |movie| %>
    <div class="media-block">
      <h2><%= link_to movie.title, movie_path(movie.id) %></h2>
      Ranked: <%= movie.rank %>
    </div>
    <% end %>
    <br>   <!-- Note: get rid of this br -->
    <%= link_to "view more movies", movies_path %>
  </div>

  <div class="books col-sm-4">
    <div class="icon glyphicon glyphicon-book"></div>
    <h1>Top Books</h1>
      <% @books.each do |book| %>
      <div class="media-block">
        <h2><%= link_to book.title, book_path(book.id) %></h2>
        Ranked: <%= book.rank %>
      </div>
    <% end %>
    <br>
    <%= link_to "view more books", books_path %>
  </div>

  <div class="albums col-sm-4">
    <div class="icon glyphicon glyphicon-music"></div>
    <h1>Top Albums</h1>
    <% @albums.each do |album| %>
    <div class="media-block">
      <h2><%= link_to album.title, album_path(album.id) %></h2>
      Ranked <%= album.rank %>
    </div>
    <% end %>
    <%= link_to "view more albums", albums_path %>
  </div>
</div>
