<h2><%= @book.title %></h2>
<%= @book.rank %>
<%= @book.author %>
<%= @book.description %>

<%= button_to "Upvote", update_book_path(@book.id), method: :patch%>
<%= link_to "View all media", root_path %>
<%= link_to "View all books", books_path %>
