<h2><%= @book.title %></h2>
<%= @book.rank %>
<%= @book.author %>
<%= @book.description %>

<%= button_to "Upvote", update_book_path(@book.id), params:{'book[upvote]' => true }, method: :patch%>
<%= link_to "Edit #{@book.title}", edit_book_path(@book.id)%>
<%= link_to "Delete", delete_book_path(@book.id), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "View all media", root_path %>
<%= link_to "View all books", books_path %>
