<h2><%= @album.title %></h2>
<%= @album.rank %>
<%= @album.artist %>
<%= @album.description %>

<%= button_to "Upvote", update_album_path(@album.id), method: :patch%>
<%= link_to "Edit #{@album.title}", edit_album_path(@album.id) %>
<%= link_to "View all media", root_path %>
<%= link_to "View all albums", albums_path %>
